@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap');
@import 'tailwindcss';

html {
  font-size: 1vw;
}

@theme {
  --font-sans: 'Oswald', 'Cormorant Infant', ui-sans-serif, system-ui, sans-serif;
  --font-cormorant: 'Cormorant Infant', ui-sans-serif, system-ui, sans-serif;

  --text-4_5xl: 2.5rem;

  --color-gray-150: #f7f6f6;
  --color-gray-850: #202020;

  --color-blue-850: #292e8c;

  --shadow-layout: 0px 4px 14px 0px #00000040;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 5vw;
  }
}